<ion-view cache-view="false" view-title="{{tabOwner}}'s {{tabLocation}} Bill">
  <ion-content class="body">
    <div>
      <div class="item item-input-inset">
          <button class="button primary-cta ion-chevron-left" on-tap="go('/tab/opentabs')"> All Tabs</button>
          <div class="col col-15"></div>
          <div>
            Employee {{bill.tabOwner}}'s Bill located at {{bill.tabLocation}} 
          </div>
      </div>
      <label class="item item-input item-floating-label">
          <input id="scaninput" type="text" ng-model="scanneditem" ng-enter="addItemToTab()" autofocus placeholder="Enter SKU"/>
      </label>
    </div>
    <ion-item class="item item-divider">
      <div class="row">
        <div class="col col-15">Qty:</div>
        <div class="col col-60">Item Name:</div>
        <div class="col col-25">Cost:</div>
      </div>
    </ion-item>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="tabItem in tabItemList" ng-init='getCigarName(tabItem)' type="item-text-wrap">
        <div class="row">
          <div class="col col-15">{{bill.tabItem.quantity}}</div>
          <div class="col col-60">{{bill.tabItem.name}}</div>
          <div class="col col-25">${{bill.tabItem.finalamount}}</div>
        </div>
        <ion-option-button class="button-assertive icon ion-trash-a" on-tap='voidItem(tabItem)'></ion-option-button>
        <ion-option-button class="button-assertive ion-minus-circled" on-tap='removeQuantity(tabItem)'></ion-option-button>
        <ion-option-button class="button-balanced ion-plus-circled" on-tap='addQuantityTabItem(tabItem)'></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="item item-divider" style="position: fixed">
    <ion-row>
      <ion-col width-30 offset-15>Subtotal:</ion-col>
      <ion-col width-30 offset-15>
        <span id="currency-default">{{bill.subtotal | currency}}</span>
      </ion-col>
    </ion-row>
  </ion-footer-bar>
</ion-view>